<div>
        <nav class="navbar navbar-light bg-warning" id="nav">
            <a class="navbar-brand" href="#">
                <img src="https://st2.depositphotos.com/8301258/11963/v/950/depositphotos_119634124-stock-illustration-restaurant-logo-cutlery-design.jpg"
                    width="80" height="80" alt="" id="logo">FLAVOURS
            </a>
            <div id="navbar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active rounded-pill" href="/">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active rounded-pill" href="/about">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active rounded-pill" href="#">MENU</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active rounded-pill" href="/booking/details">BOOK</a>
                    </li>
                    <li class="nav-item dropdown" id="dropdown">
                        <a href="" class="dropdown-toggle rounded-pill" data-toggle="dropdown">LOGIN</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/ADMIN_ACCESS">Admin</a>
                            <a class="dropdown-item" href="/LOGIN_ACCESS">Customer</a>

                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active rounded-pill" href="/feedback">FEEDBACK</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active rounded-pill" href="#">HELP</a>
                    </li>
                </ul>
            </div>

        </nav>
    </div>
     <div id="about">
    <div class="container col-md-8 mx-auto" id="about-container1">
        <h4 style="color: #fcb00bfd;">ABOUT</h4><br>
        <p>
            Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore
            eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.
        </p>
    </div>

</div>



    

    <div id="footer">
        <div id="footer-block1">
            <span>
                <a class="navbar-brand" href="#">
                    <img src="https://st2.depositphotos.com/8301258/11963/v/950/depositphotos_119634124-stock-illustration-restaurant-logo-cutlery-design.jpg"
                        width="80" height="80" alt="" id="logo">FLAVOURS
                </a>
            </span><br><br>
            <span>
                Acquaintances become friends around a table in the safe and controlled environment of a restaurant.
                Individuals become lovers across a restaurant table, sometimes. Customer Satisfaction and Loyalty. One
                of the main objectives of a restaurant is to ensure customer satisfaction and build a repeat-customer
                base.
            </span>
        </div>
        <div id="footer-block2">
            <span>
                <h5>Important Links</h5>
            </span>
            <span><a href>BLog</a></span><br>
            <span><a href>Shop Partners</a></span><br>
            <span><a href>Privacy Policy</a></span><br>
            <span><a href>Terms & Condition</a></span><br>
        </div>

        <div id="footer-block3">
            <span>
                <h5>Contact Us</h5>
            </span>
            <span>
                BHIVE Workspace, L-148, 5th Main Rd, Sector 6, HSR Layout, Bengaluru, Karnataka 560102
            </span><br><br>
            <span>
                For enquery:
                admin@flavours.com
                8123986891 / 7052560736 / 8870438474
            </span>
        </div>
    </div>