<div class="container">
    
    <div class="row  mt-5 d-flex justify-content-center align-item-center">
        <div class="col-6">
            <div class="jumbotron bg-light border" style="box-shadow: 0px 2px 2px 1px #e8d7d785;">
                <div class="lead text-center mb-2 text-secondary">Admin Access</div>
            
                <form action="/admin" method="POST" class="form-group">
                    <input type="text" class="form-control mb-2" name="Username" placeholder="Admin-Id">
                    <input type="password" class="form-control mb-2" name="Password" placeholder="Password">
                     <input type="Submit" value="Login" class="lead text-light btn  w-100" style="background-color:#113D6C;">
                    <div class="small mt-2 text-dark">Admin Inaccessible? Contact technical team.</div>
                </form>
            </div>
        </div>
    </div>
</div>