<div>
        <nav class="navbar navbar-light bg-warning" id="nav">
            <a class="navbar-brand rounded-pill" href="#">
                <img src="https://st2.depositphotos.com/8301258/11963/v/950/depositphotos_119634124-stock-illustration-restaurant-logo-cutlery-design.jpg"
                    width="80" height="80" alt="" id="logo">FLAVOR
            </a>
            <div id="navbar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active rounded-pill" href="/">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active rounded-pill" href="/about">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active rounded-pill" href="/feedback">FEEDBACK</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active rounded-pill" href="#">HELP</a>
                    </li>
                </ul>
            </div>

        </nav>
    </div>

<div class="text-center shadow mx-auto p-5  bg-white rounded-pill my-5">
    <div class="mt-3 d-flex justify-content-center">
        <p class="font-weight-normal font-italic" style="font-size: 30px;">Feedback</p>
    </div>
    <small class="text-secondary">Should you have any issue, feel free to contact us, we will get back to you as soon as we can!</small>
       <div class="d-flex justify-content-center mt-3">
        <div class="" style="position: relative; left:-240px">
            <span><i class="fas fa-star one"></i></span>
            <span><i class="fas fa-star two"></i></span>
            <span><i class="fas fa-star three"></i></span>
            <span><i class="fas fa-star four"></i></span>
            <span><i class="fas fa-star five"></i></span>
            
        </div>
        
    </div>
    <div class="d-flex justify-content-center mt-4">
        <div class="form-group">
            <input type="text" class="form-control" style="width: 660px;" name="username" placeholder="Name">
            <textarea placeholder="Message" class="form-control mt-3" name="text" cols="88" rows="5" ></textarea>
        </div>
    </div>
    <div class="d-flex ml-2 justify-content-center " id="">
        <button class="btn btn-warning text-light ml-5 btn-sm w-50">Submit</button>
    </div>
  <main class="text-secondary" style="position: relative; left: -240px; top:20px;">
      <i class="fas fa-phone-alt"></i>+91 7338957430</main>
</div>
<div id="footer">
        <div id="footer-block1">
            <span>
                <a class="navbar-brand" href="#">
                    <img src="https://st2.depositphotos.com/8301258/11963/v/950/depositphotos_119634124-stock-illustration-restaurant-logo-cutlery-design.jpg"
                        width="80" height="80" alt="" id="logo">FLAVOURS
                </a>
            </span><br><br>
            <span>
                Acquaintances become friends around a table in the safe and controlled environment of a restaurant.
                Individuals become lovers across a restaurant table, sometimes. Customer Satisfaction and Loyalty. One
                of the main objectives of a restaurant is to ensure customer satisfaction and build a repeat-customer
                base.
            </span>
        </div>
        <div id="footer-block2">
            <span>
                <h5>Important Links</h5>
            </span>
            <span><a href>BLog</a></span><br>
            <span><a href>Shop Partners</a></span><br>
            <span><a href>Privacy Policy</a></span><br>
            <span><a href>Terms & Condition</a></span><br>
        </div>

        <div id="footer-block3">
            <span>
                <h5>Contact Us</h5>
            </span>
            <span>
                BHIVE Workspace, L-148, 5th Main Rd, Sector 6, HSR Layout, Bengaluru, Karnataka 560102
            </span><br><br>
            <span>
                For enquery:
                admin@flavours.com
                8123986891 / 7052560736 / 8870438474
            </span>
        </div>
    </div>