<div>
        <nav class="navbar navbar-light bg-warning" id="nav">
            <a class="navbar-brand rounded-pill" href="#">
                <img src="https://st2.depositphotos.com/8301258/11963/v/950/depositphotos_119634124-stock-illustration-restaurant-logo-cutlery-design.jpg"
                    width="80" height="80" alt="" id="logo">FLAVOR
            </a>
            <div id="navbar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active rounded-pill" href="/">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active rounded-pill" href="/about">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active rounded-pill" href="/feedback">FEEDBACK</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active rounded-pill" href="#">HELP</a>
                    </li>
                </ul>
            </div>

        </nav>
    </div>

<div class="col-md-6 offset-md-3 shadow p-3 mb-5 bg-white rounded mt-5">
    <div class="row mt-3 align-items-center">
        <h1 class="display-3">Feedback</h1>
    </div>
    <div class="row mt-3" id="managers">
        <img src="../public/images/manager.jpg" class="rounded img-fluid mr-2" alt="manager" width="180px">
        <img src="../public/images/manager.jpg" class="rounded img-fluid mr-2" alt="manager" width="180px">
        <img src="../public/images/manager.jpg" class="rounded img-fluid mr-2" alt="manager" width="180px">
    </div>
    <div class="row mt-2">
        <p style="padding-left: 100px;">Manager-1</p>
        <p style="margin-left: 120px;">Manager-2</p>
        <p style="margin-left: 120px;">FOM</p>
    </div>
    <div class="row mt-3">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manager
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Manager-1</a>
                <a class="dropdown-item" href="#">Manager-2</a>
                <!-- <a class="dropdown-item" href="#">Something else here</a> -->
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Name">
            <textarea placeholder="Feedback" cols="60" rows="5" class="mt-3"></textarea>
        </div>
    </div>
    <div class="row" id="submit">
        <button class="btn btn-success">Submit</button>
    </div>
</div>
<div id="footer">
        <div id="footer-block1">
            <span>
                <a class="navbar-brand" href="#">
                    <img src="https://st2.depositphotos.com/8301258/11963/v/950/depositphotos_119634124-stock-illustration-restaurant-logo-cutlery-design.jpg"
                        width="80" height="80" alt="" id="logo">FLAVOURS
                </a>
            </span><br><br>
            <span>
                Acquaintances become friends around a table in the safe and controlled environment of a restaurant.
                Individuals become lovers across a restaurant table, sometimes. Customer Satisfaction and Loyalty. One
                of the main objectives of a restaurant is to ensure customer satisfaction and build a repeat-customer
                base.
            </span>
        </div>
        <div id="footer-block2">
            <span>
                <h5>Important Links</h5>
            </span>
            <span><a href>BLog</a></span><br>
            <span><a href>Shop Partners</a></span><br>
            <span><a href>Privacy Policy</a></span><br>
            <span><a href>Terms & Condition</a></span><br>
        </div>

        <div id="footer-block3">
            <span>
                <h5>Contact Us</h5>
            </span>
            <span>
                BHIVE Workspace, L-148, 5th Main Rd, Sector 6, HSR Layout, Bengaluru, Karnataka 560102
            </span><br><br>
            <span>
                For enquery:
                admin@flavours.com
                8123986891 / 7052560736 / 8870438474
            </span>
        </div>
    </div>